body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    color: #fff;
  }
  
  .btn-line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
  }
  
  .mobile-menu {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    z-index: 999;
  }
  
  .menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 15px; /* Adjust the margin for positioning */
  }
  
  .mobile-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .mobile-menu ul li {
    margin-bottom: 10px;
  }
  
  .mobile-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  /* Media query for tablet and mobile resolutions */
  @media screen and (max-width: 768px) {
    .menu-btn {
      display: flex; /* Display the hamburger menu for tablet and mobile */
      margin-right: 30px;
    }
  
    header {
      position: fixed;
      width: 100%;
      z-index: 1000;
    }
  
    main {
      padding-top: 60px; /* Adjust main content padding to accommodate the fixed header */
    }
  
    .mobile-menu {
        width: 80%;
        max-width: 65px;
        display: flex;
    }
    
    /* Mostrar el menú al pasar el mouse por encima del icono de hamburguesa */
    .menu-btn:hover + .mobile-menu,
    .mobile-menu:hover {
        display: block;
        opacity: 1; /* Hacer visible */
        max-width: 150px;
    }

    .mobile-menu:hover {
        background-color: black;
    }

    .menu-btn:hover {
        margin-top: 40px;
        align-items: center;
    }

    .btn-line:hover {
        background-color: #fff;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        text-align: center;
        margin: 0; /* Remove default margin */
        padding-top: 60px; /* Adjust the top padding to accommodate the fixed header */
      }
  }
  